{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BookLub</title>
    <link rel="stylesheet" href="{% static "css/books.css" %}">

<title>
    {% block title %} {% endblock title %}
</title>
</head>

<body>
    <header>
        <input type="checkbox" id="nav-menu1">
        <label id="nav-icon1" for="nav-menu1">
          <span>      <nav>
            <ul class="navItems">
    
              <li>  <a href={% url 'search' %}>Search Books</a></li>
              <li> <a href={% url 'upload' %}>Upload</a></li>

            </ul>
          </nav></span>
    </header>
{% block content %}

{% endblock content%}

<footer> 
    <p>Copyright BookLub 2023</p>
    <p></p>
</footer>
</body>
