{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BookLub</title>
    <link rel="stylesheet" href="{% static "css/books.css" %}">

<title>
    {% block title %} {% endblock title %}
</title>
</head>

<body>
    <header>
        <input type="checkbox" id="nav-menu1">
        <label id="nav-icon1" for="nav-menu1">
          <span>      <nav>
            <ul class="navItems">
              <li class="pink">
                <li>  <a href={% url 'search' %}>Search Books</a></li>
                {% if user.is_authenticated %}
               <li>Hello, {{user.username}} </li> 
              <li> <a href={% url 'upload' %}>Upload</a></li>
            <li> <a href={% url 'user_logout' %}>Logout</a></li>  
            {% else %}

            <li><a href={% url 'signup' %}>Sign Up</a></li>
        
            <li><a href={% url 'user_login' %}>Sign in</a></li>
            {% endif %}
            </ul>
          </nav></span>
    </header>
{% block content %}

{% endblock content%}

<footer> 
    <p>Copyright BookLub 2023</p>
    <p></p>
</footer>
</body>
