{% extends 'base.html' %}

{% block title %}
Upload
{% endblock title %}

{% block content %}

    <main>
    <h1>Books to Lub</h1>
        <form action="{% url 'search' %}">   
         <input class=search type="search"  
          placeholder="Search" aria-label="Search" name="search">    
          <button type="submit">Search</button>
        </form>
<!-- 
        <form action="{% url 'word_search' %}">   
            <input class=search type="search_words"  
             placeholder="Search" aria-label="Search" name="search">    
             <button type="submit">Search</button>
           </form>
    
        {% for post in posts %}
        <div > -->
            <li class="fileslist">
        <a class= "files" href="{{ MEDIA_URL }}{{ post.filepath }}">{{post.filename}}</a>
    </li>    
    </div>
        {% endfor %}

    </main>
   

    {% endblock content %}