{% extends 'base.html' %}

{% block title %}
Upload
{% endblock title %}

{% block content %}

    <main>
    <h1>Books to Lub</h1>
        <form action="{% url 'search' %}">   
         <input class=search type="search"  
          placeholder="Search by File" aria-label="Search" name="search">    
          <button type="submit">Search</button>
        </form>

        <form action="{% url 'search_words' %}">   
            <input class=search type="search"  
             placeholder="Search Common Words" aria-label="Search" name="search">    
             <button type="submit">Search</button>
           </form>
    
        {% for post in posts %}
        <div > 
            <li class="fileslist">
        <a class= "files" href="{{ MEDIA_URL }}{{ post.filepath }}">{{post.filename}}</a>
    </li>    
    </div>
        {% endfor %}

        <div>
            {% for post in posts1%}
            <li class="fileslist">
        <a class= "files" href="{{ MEDIA_URL }}{{ post.filepath }}">{{post.filename}}</a>
            </li>   
            {% endfor %}
        </div>

    </main>
   

    {% endblock content %}